.container {
  width: 30%;
  background-color: #005960;
  border-radius: 2%;
  margin: 0 auto;
  font-type: arial;
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: arial;
  padding: 5%;
}

h1 {
  text-align: center;
  font-family: Arial;
  color: white;
  background-color: black;
  border-radius: 2%;
  margin: 0;
}

button {
  background-color: blueviolet;
  border: none;
  padding: 10px;
  border-radius: 15px;
  outline: none;
}

